# Stuff Lending Test Report

| Case     | Result | Note |
| ----------- | ----------- | -----------|
| 5.1     | OK       |           |
| 5.2   | OK        |     500 minus The cost of the contract (Implemented in that way)      |
| 5.3      | OK       |            |
| 5.4   | OK        |            |
| 1.1     | OK       |           |
| 1.2   | OK        |           |
| 1.3      | OK       |            |
| 2.1   | OK        |            |
| 2.2     | OK       |           |
| 2.3   | OK        |           |
| 3.1      | OK       |            |
| 3.2   | OK        |            |
| 3.3      | OK       |            |
| 3.4   | OK        |            |
| 3.5      | OK       |            |
| 3.6   | OK        |            |
| 4.1   | OK        |            |